<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration >
	
	<!-- settings:设置全局属性 -->
	<settings>
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false"/>
	</settings>
	
	<!-- 包配置扫描别名，别名就是类名首字母小写 -->
	<typeAliases>
		<package name="com.recruit.po"/>		
		<!-- <package name="com.recruit.dao"/>	 -->
	</typeAliases>
	
</configuration>